node_modules/
dist/
.DS_Store
*.log
.turbo/
.vite/
coverage/
*.tsbuildinfo
.env
.env.local
packages/md/web-dist/
packages/md/.gen/
packages/md/dist/
packages/md/npm-packages/
packages/md/README.md
packages/md/LICENSE
*.tgz
